@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Burger Chef!</h2>
</div>

<img src="https://vignette.wikia.nocookie.net/usa-fanon/images/8/88/Burger_Chef_Logo.png/revision/latest?cb=20160809212740"  style="width:30%" align="bottom">
